Це шаблон налаштувань.

Скопіюйте цей текст у файл .env і заповніть своїми даними.

--- 1. Безпека Flask ---

Згенеруйте тут випадковий набір символів

SECRET_KEY=change_this_to_random_secret_string

--- 2. База Даних (MySQL) ---

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=CLOUD

--- 3. Хмарне Сховище (Azure Blob Storage) ---

Скопіюйте сюди "Connection String" з порталу Azure (Access Keys)

AZURE_CONNECTION_STRING=your_azure_connection_string
